.booking-form-container {
    // border: 5px solid orange;
    width: 30%;
    height: fit-content;
    position: sticky;
    top: 70px;
    margin-top: -80px;
    background-color: white;
    border: 1px solid #EBEBEB;
    height: 260px;
    // height: 500px;
    display: flex;
    flex-direction: column;
}

// .book-form-container {
    // justify-content: space-between;
    // width: 100%
    // position: sticky;
// }

.book-form-top {
    // border: 3px solid red;
    height: 60px;
    // width: 100%;
}

.book-form-top h1 {
    margin: 10px 0 0 10px;
    font-size: 26px;
}

.book-form-top p {
    margin-left: 10px;
    color: #747474;
}

.book-input-container {
    display: flex;
    height: 40px;
}

.book-guests {
    width: 33%;
    border-left: 1px solid #EBEBEB;
    display: flex;
}

.book-guests input {
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.input-label-container {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #EBEBEB;
    // border-bottom: 1px solid #EBEBEB;
}

.input-label {
    width: 32%;
    // border: 3px solid gold;
    padding-top: 10px;
    text-align: center;
}

#checkout-label {
    border-right: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
}

.book-input {
    border-top: 1px solid #EBEBEB;
    display: flex;
    justify-content: space-between;
    height: 60px;
    // width: 100%;
}

.book-bottom {
    border-top: 1px solid #EBEBEB;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.book-bottom h2 {
    color: #525252;
    width: 100%;
    padding-left: 26px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.book-button {
    border: 4px solid #51D9AC;
   background-color: #51D9AC;
   color: #FFFFFF;
   height: 30px;
   width: 80%;
   padding: 14px;
   text-align: center;
   font-size: 19px;
}

.book-button:hover {
        background-color: #FFFFFF;
       color: #51D9AC;
}

#step-btn {
    font-size: 30px;
    margin: 0 16px;
}

// .book-input input {
//     // border: 2px solid black;
//     font-size: 18px;
//     width: 32%;
//     text-align: center;
// }

// #checkin, #checkout {
//     font-size: 10.5px;
//     padding: 4px;
//     border-right: 1px solid #EBEBEB;
// }