.DateRangePicker {
    width: 66%;
    border-bottom: 1px solid #ebebeb;
}

.DateInput {
    width: 48%;
    // height: 100%;
    // border: 2px solid blue;
}

#startDate {
    width: 109px;
    height: 40px;
    border-right: 1px solid #ebebeb;
}

.DateInput_input {
    padding: 0px 0px 0px 0px;
    border-bottom: 0;
    width: 100%;
    // height: 42px;
    height: 100%;
    font-size: 18px;
    text-align: center;
}

.DateRangePickerInput__withBorder {
    border-radius: 0px;
    border: none;
    display: flex;
    justify-content: space-between;
}

.DateRangePickerInput_arrow {
    display: none;
}
