html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Calibre", Helvetica, Arial, Helvetica, sans-serif;
  // font: inherit;
  color: #333333;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
  background: transparent
}

@font-face {
  font-family: "Calibre";
  src: font-url("CalibreRegular.otf");
  // src: font-url("/assets/fonts/CalibreMedium.otf");
  // src: font-url("/assets/fonts/CalibreBold.otf");
  // src: font-url("/assets/fonts/CalibreLight.otf");
  // src: font-url("/assets/fonts/CalibreSemibold.otf");
  // src: font-url("/assets/fonts/CalibreThin.otf");
}

h1, h2, h3, h4, h5, h6, strong {
  font-size: 18px;
  font-weight: 500;
  margin-block-end: 0;
  margin-block-start: 0;
}

ol, ul {
    list-style: none
}

img {
    display: block;
    width: 100%;
    height: auto
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button, input[type="submit"] {
    cursor: pointer;   
}

.group:after {
  content: "";
  clear: both;
  display: block;
}