.search-index-container {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}

.search-index {
    width: 55%;
    margin-top: 20px;
}

.search-index-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.search-index-main .campground-item {
    margin: 8px 0;
}

.search-map-container {
    position: sticky;
    top: 80px;
    height: fit-content;
    width: fit-content;
}

.search-map {
    height: 620px;
    width: 550px;
}

.tagline {
    margin: 12px 0;
    font-weight: 300;
    font-size: 18px;
    color: #303030;
}

#tag-1 {
    margin-top: 4px;
}