.search-index-container {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}

.search-index {
    width: 55%;
    margin-top: 20px;
}

.search-index-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.search-index-main .campground-item {
    margin: 8px 0;
}

.search-map-container {
    position: sticky;
    top: 80px;
    height: fit-content;
    width: fit-content;
}

.search-map {
    height: 620px;
    width: 550px;
}

.tagline {
    margin: 12px 0;
    font-weight: 300;
    font-size: 18px;
    color: #303030;
}

#tag-1 {
    margin-top: 4px;
}

.select-filters {
    display: flex;
    justify-content: space-between;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 24px;
}

.filter-button {
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 8px;
    cursor: pointer;
}

.filter-button.clicked {
    border: 1px solid #51D9AC;
}

.filter-button.clicked p {
    color: #51D9AC;
}

.filter-button:hover {
    border: 1px solid black;
}

.filter-button.clicked:hover {
    border: 1px solid #51D9AC;
}


#clear-filter {
    border: 3px solid #51D9AC;
    background-color: #51D9AC;
    height: 34px;
    padding: 0 4px;
}

#clear-filter:hover {
    background-color: #FFFFFF;
}

#clear-filter:hover #clear-text {
    color: #51D9AC;
}

#clear-text {
    color: #FFFFFF;
    margin-top: 4px;
}



.filter-button p {
    margin: 7px 0 0 4px;
}

.filter-img {
    width: 30px;
    height: 30px;
}