.campground-show-container {
    border: 5px solid blue;
   height: 100%;
   margin: 0px auto;
   max-width: 1080px;
//    padding: 10px 10px;
   display: flex;
   flex-direction: column;
   color: #333333;
}

.campground-show-2 {
    display: flex;
    // border: 5px solid darkviolet;
}
// .image-container {
//     border: 5px solid burlywood;
//     height: 500px;
//     width: 500px;
// }

.show-main {
    // border: 5px solid aqua;
    width: 70%

}


.booking-form-container {
    border: 5px solid orange;
    height: 250px; // temporary
    width: 30%
    // position: sticky;
}

.show-reviews-container {
    border: 5px solid darksalmon;
    height: 700px;
}

.show-map-container {
    border: 5px solid #800000;
    height: 350px;
    width: 100%;
}