
.index-head-img {
    // border: 5px solid blue;
    margin: 0 auto;
    max-width: 90%;
    background-image: url(https://dripcamp-seed.s3-us-west-1.amazonaws.com/owen2.jpeg);
    // ig: @owensteven_
    background-size: cover;
    height: 560px;
    
}

.index-head-img h1 {
    padding-top: 30px;
    font-size: 36px;
    margin-left: 50px;
}

.index-head-img p {
    font-size: 18px;
    width: 390px;
    margin-left: 100px;
}

.campground-index-container {
    max-width: 1080px;
    // padding: 10px 10px;
    margin: 20px auto;
    // font-size: 40px;
}

@media (max-width: 1100px) {
    .campground-index-container {
        max-width: 780px;
    }
}

#index-title {
    margin-left: 10px;
    margin-bottom: 6px;
    font-size: 30px;
}

#index-text {
    margin-left: 10px;
}

.campground-index-main {
   height: 100%;
   margin: 0px auto;
   margin-bottom: 6px;
    width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

}

.campground-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
    // box-shadow: 0 0 5px #EBEBEB;
    height: 280px;
    width: 320px;
    margin: 10px;
}

.item-image {
    // border: 5px solid blue;
    height: 65%; //temporary
}

.slider-list {
    height: 180px !important;
}

.slider-slide.slide-visible {
    height: 180px !important;
}

.slider-slide.slide-visible img {
    height: 180px;
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.slider {
    height: 100% !important;
}

.slider:hover #carousel-btn {
    display: inherit;
}


#carousel-btn {
    // color: #FFFFFF;
    display: none;
    font-size: 22px;
    margin: 20px;
    margin-top: 40px;
    color: white;
    opacity: 1;
    cursor: pointer;
}

.paging-dot {
    background: white !important;
}

.item-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    // border: 5px solid yellow;
    height: 35%;
}

.item-info-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 10px 0 10px;
    // padding-top: 10px;
}

.item-info-head {
    display: flex;
}

.item-info-head span {
    font-size: 16px;
}

#check-icon {
    color: #4299FB;
}

.item-info-top h1 {
    font-size: 24px;
    font-weight: 400;
    margin-right: 3px;
}

.item-info-top img {
    height: 30px;
    width: 30px;
}

#item-loc {
    width: 40%;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: -5px;
    color: #757575;
}

#item-loc:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.item-info a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.item-bottom {
    display: flex;
    justify-content: space-between;
}

.item-bottom-2 {
    display: flex;
    align-items: baseline;
    color: #757575;
}

.item-bottom i {
    color: #51D9AC;
}

#item-rating {
    color: #51D9AC;
    // font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}

#item-price {
    text-align: right;
    font-size: 19px;
    font-weight: 400;
    padding-right: 10px;
    padding-bottom: 6px;
}

.filler-item {
    width: 300px;
    margin: 10px;
}

.campground-splash-header {
    display: flex;
    align-items: center;
}

.campground-splash-header a {
    text-decoration: underline;
    font-size: 18px;
    margin-bottom: 8px;
}