.show-buckets {
    display: flex;
    justify-content: space-between;
    // border: 5px solid green;
    padding: 30px 0;
    
}

.show-buckets span {
    color: gray;
}

.show-bucket-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #EBEBEB;
    width: 32%;
    height: 300px;
}

.bucket-main {
    margin-left: 12px;
}

.bucket-line {
    display: flex;
    margin-bottom: 6px;
}

// .show-buckets ul {
//     display: inline-block;
// }

.show-buckets h2 {
    font-size: 24px;
    margin-top: 14px;
    margin-bottom: 6px;
}

.show-buckets img {
    height: 28px;
    width: 28px;
}

.show-buckets ul {
    margin-top: 6px;
    font-size: 18px;
    color: #525252;
}