.campground-index-main {
   border: 5px solid orange;
   height: 100%;
   margin: 0px auto;
   max-width: 1060px;
   padding: 10px 10px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
//    flex-direction: row;
//    justify-content: space-around;
//    align-items: row;

}

.campground-item {
    display: flex;
    flex-direction: column;
    border: 5px solid red;
    height: 280px;
    width: 300px;
    margin: 10px;
}

.item-image {
    border: 5px solid blue;
    height: 65%; //temporary
}

.item-image img {
    height: 100%;
    width: 100%;
}

.item-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 5px solid yellow;
    height: 35%;
}

.item-info h1 {
    font-size: 18px;
    font-weight: 500;
}

.item-info p {
    font-size: 16px;
}

.item-price {
    text-align: right;
}