.menu-button {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown img {
   width: 50px;
   height: 50px;
}

.dropdown-menu {
    font-size: 20px;
    display: none;
    top: 50px;
    position: absolute;
    height: 116px;
    width: 200px;
    right: 4px;
    // left: -149px;
    background-color: #FFFFFF;
    border: 1px solid #EBEBEB;
}

.drop-button-container {
    margin: 20px;
}

.drop-button-container button {
    display: block;
    // padding: 10px;
    font-size: 18px;
}

.drop-link-container {
    margin: 20px;
    border-bottom:1px solid #EBEBEB;
    font-size: 18px;
    padding-bottom: 14px;
    box-shadow: 10px;
    cursor: pointer;
    // transition: transform 0.3s ease-out;
}

.drop-link-container:last-child {
    border-bottom: none;
}

.drop-link {
    transition: transform 0.25s ease-out;
}

.drop-link:hover {
    transform: translateX(26px);
}

.drop-link i {
    margin-right: 8px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.drop-icon {
   display: flex;
   justify-content: flex-end;
}

.logged-in-header {
    width: 340px;
    margin-right: 70px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logged-in-links {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 300px;
}

.modal-links {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 300px;
    padding-bottom: 5px;
}

.logged-in-link {
     font-size: 17px !important;
     margin-top: 8px !important;
    border-bottom: 2px solid transparent;

}

.logged-in-link:hover {
    border-bottom: 2px solid #51D9AC;
}
