.menu-button {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown img {
   width: 37px;
   height: 37px;
}

.dropdown-menu {
    font-size: 20px;
    display: none;
    top: 34px;
    position: absolute;
    height: 124px;
    width: 200px;
    right: 2px;
    // left: -149px;
    background-color: #FFFFFF;
    border: 1px solid #EBEBEB;
}

.drop-button-container {
    margin: 20px;
}

.drop-button-container button {
    display: block;
    // padding: 10px;
    font-size: 16px;
}

.drop-link-container {
    margin: 20px;
    border-bottom:1px solid #EBEBEB;
    font-size: 16px;
    padding-bottom: 22px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.tent-icon {
   display: flex;
   justify-content: flex-end;
   margin-right: 50px;
   margin-top: 20px;
}