
.session-form {
   font-size: 18px;
   display: flex;
   margin: auto;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.session-form b {
    margin-bottom: 15px;
    font-size: 26px;
}

.session-form h2{
    margin-bottom: 15px;
    font-size: 18px;
}

.session-form input {
    border: 1px solid black;
    height: 34px;
    width: 266px;
    padding: 16px;
    margin-bottom: 15px;
}