
.session-form {
   font-size: 18px;
   display: flex;
   margin: 10px 10px;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.session-form b {
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 23px;
}

.session-form h2{
    margin-bottom: 15px;
    font-size: 15px;
    color: #757575
}

.session-form ul {
    color: #bd3200;
    font-size: 14px;
}

// .session-form form input {
//     border: 1px solid black;
//     height: 34px;
//     width: 272px;
//     padding: 16px;
//     // margin-top: 7.5px;
//     // margin-bottom: 7.5px;
//     margin: 7.5px auto;
// }


