
.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(255, 255, 255, 0.85);
   z-index: 10;
   overflow: auto;
}

.login-modal {
   display: flex;
   justify-content: center;
   position: relative;
//    position: fixed;
   box-shadow: 0 0 10px lightgray;
   margin: auto;
   /* box-shadow: 0 0 10px rgb(232, 231, 231, 0.4); */
   border: 2px solid lightgray;
   border-radius: 2px;
   height: 560px;
   // height: 526
   width: 350px;
//    top: 25%;
//    left: 50%;
//    transform: translate(-50%, -50%);
   background-color: #FFFFFF;
}

.login-modal {
    top: -550px;
    animation: login-drop 0.75s ease forwards;
}

@keyframes login-drop {
    0% {}
    100% { transform: translateY(600px)}
}

.signup-modal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
   position: relative;
   box-shadow: 0 0 10px lightgray;
   margin: auto;
   /* box-shadow: 0 0 10px rgb(232, 231, 231, 0.4); */
   border: 2px solid lightgray;
   border-radius: 2px;
   height: 708px;
   width: 350px;
//    top: 46%;
//    left: 50%;
//    transform: translate(-50%, -50%);
   background-color: #FFFFFF;
   overflow: auto;
   
}

.signup-modal {
    top: -750px;
    animation: signup-drop 0.75s ease forwards;
}

@keyframes signup-drop {
    0% {}
    100% { transform: translateY(780px)}
}

.login-signup-button {
   border: 4px solid #51D9AC;
   background-color: #51D9AC;
   padding: 5px;
   color: #FFFFFF;
   height: 34px;
   width: 270px;
   padding: 16px;
   text-align: center;
   margin-top: 30px;
}

.login-signup-button:hover {
   background-color: #FFFFFF;
   color: #51D9AC;
}

.demo-button {
    border: 4px solid #3C5A98;
    background-color: #3C5A98;
    color: #FFFFFF;
    height: 34px;
    width: 270px;
    padding: 16px;
    text-align: center;
    // margin-top: 0px;
}

.demo-button:hover {
    background-color: #FFFFFF;
    color: #3C5A98;
}

.form-redirect {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
    width: 100%;
}

.redirect-button {
    font-weight: 900;
    padding-bottom: 0.5px;
    margin-left: 7px;
}

.form-redirect button:hover {
    text-decoration: underline;
    text-decoration-color: black;
    padding-bottom: 0.5px;
}

.errors-cont {
    height: 22px;
}

.or {
    font-size: 16px;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 10px;
}

// .or p::before, .or p::after {
//     display: inline-block;
//     border-top: 1px solid lightgray;
//     overflow: hidden
// }