.splash-info {
    display: flex;
    flex-direction: column;
    // border: 5px solid yellowgreen;
    background-image: url("https://dripcamp-seed.s3-us-west-1.amazonaws.com/main11.jpg");
    background-size: cover;
    max-width: 95%;
    height: 900px;
    padding: 10px 10px;
    margin: 0 auto;
    // margin-top: 50px;
}

#splash-head {
    // letter-spacing: 0.15em;
    font-size: 48px;
    font-weight: 600;
    margin-top: 80px;
    margin-left: 90px;
}

#splash-text {
    font-size: 23px;
    width: 500px;
    padding-top: 10px;
    margin-left: 90px;
}

#splash-text span {
    font-weight: 600;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    // margin-bottom: 30px;
    // margin-top: 30px;
    border: 3px solid gray;
    padding: 10px 10px;
    max-width: 1060px;
    height: 64px;
    margin: 20px auto;
}

.large-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: 5px solid green;
    padding: 10px 10px;
    max-width: 1060px;
    margin: 0 auto;
}

.large-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 5px solid yellow;
    height: 33%; //temporary
    width: 500px;
    text-align: center;
}

.large-icon img {
    height: 300px;
    width: 300px;
}

.large-icon-text {
    margin: 0 50px;
    font-size: 30px;
    font-weight: 700;
}

.large-icon a {
    font-size: 16px;
    margin: 12px 0;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
}

.large-icon a:hover {
    border-bottom: 1px solid black;
    padding-bottom: 1px;
}

