.splash-info {
    display: flex;
    flex-direction: column;
    background-image: url("https://dripcamp-seed.s3-us-west-1.amazonaws.com/main12.jpg");
    background-size: cover;
    max-width: 90%;
    height: 510px;
    margin: 0 auto;
    // margin-top: 50px;
}

#splash-head {
    // letter-spacing: 0.15em;
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 30px;
}

#splash-text {
    font-size: 20px;
    width: 500px;
    // padding-top: 10px;
    margin-left: 30px;
}

#splash-text span {
    font-weight: 600;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    // margin-bottom: 30px;
    // margin-top: 30px;
    border: 3px solid gray;
    padding: 10px 10px;
    max-width: 1060px;
    height: 64px;
    margin: 20px auto;
}

.large-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: 5px solid green;
    padding: 10px 10px;
    max-width: 1060px;
    margin: 0 auto;
}

.large-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 5px solid yellow;
    height: 33%; //temporary
    width: 500px;
    text-align: center;
}

.large-icon img {
    height: 300px;
    width: 300px;
}

.large-icon-text {
    margin: 0 50px;
    font-size: 30px;
    font-weight: 700;
}

.large-icon a {
    font-size: 16px;
    margin: 12px 0;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
}

.large-icon a:hover {
    border-bottom: 1px solid black;
    padding-bottom: 1px;
}

.bio-container {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    max-width: 1060px;
    margin-top: 30px;
    margin: 0 auto;
    height: 350px;
    border: 1px solid #ebebeb;
}

.bio-info {
    text-align: center;
    width: 500px;
}

.bio-info h1 {
    font-size: 30px;
    font-weight: 400;

}

.bio-info p {
    font-size: 20px;
    color: #404040;
    font-weight: 300;
}

#ernie-img {
    width: 350px;
    height: 350px;
    border-radius: 4px;
}