.user-show-main {
    display: flex;
    border: 5px solid blue;
    margin: 0 50px;
}

.user-info-container {
    border: 5px solid red;
}

.booking-info-container {
    border: 5px solid yellow;
}

.user-icon {
    border: 5px solid black;
    height: 150px;
    width: 150px;
}
